body {
}

.title {
  font-size: 3em;
}

.subtitle {
  font-size: 2em;
  color: #ed1d61;
}

.bar {
  height: 10px;
  color: #ed1d61;
  background: #ed1d61;
  border: 0;
  margin-bottom: 60px;
}

section {
  margin: 60px;
  margin-bottom: 100px;
}

ul.skillPanel {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0px;
}

ul.skillPanel li>* {
  display: block;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  padding: 0px;
  margin: 5px;
}

.lightDot {
  background-color: yellow;
}

.darkDot {
  background-color: brown;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  vertical-align: top;
}

td>*, th>* {
  margin: 10px;
}

tr:not(:first-child) {
    border-top: 1px solid lightgray;
}

table#skills {
  text-align: center;
}

table#details span#lang {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-container {
  margin-bottom: 80px;
}

table.project {
  text-align: left;
}

table.project th {
  background-color: #eeeeee;
}

table.project th:first-child, table.project td:first-child {
  font-weight: bold;
  width: 40%;
}

table.project th:not(:first-child), table.project td:not(:first-child) {
  font-weight: normal;
}

